<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.delta.movix.service.dao.MovieDao">
    
    <select id="findById" parameterType="Long" resultType="Movie">
        SELECT * FROM t_movie m WHERE m.id = #{id}
    </select>
    
    <select id="queryByTitle" parameterType="String" resultType="Movie">
        SELECT * FROM t_movie m WHERE m.title LIKE "%"#{title}"%";
    </select>
    
</mapper>